section{
    height: 100vh;
    width: 100%;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#cards{
    height: 400px;
    width: 300px;
    background-color: bisque;
    border-radius: 30px;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: space-around;
}
#btn1{
    background-color: pink;
}

#btn1:focus{
    background-color: red;
}

#div11{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 600px;
   
}

#div11 form{
    background:linear-gradient(rgb(91, 154, 2),rgba(103, 24, 24, 0.18),rgba(0, 128, 0, 0.528));
    height: 300px;
    width: 300px;
    border-radius: 30px;
}


form input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}



